<!DOCTYPE html>
<html lang="ja">
<head>
<title>部署情報追加・編集</title>
</head>
<body>
<h1>部署情報追加・編集ページ</h1>
<h1>部署データを新規作成します</h1>
{% if department_name %}
    <p>{{ department_name }}を編集する</p>
{% endif %}
<form action="/add_edit_department" method="post">
    <p><label for="">名前：</label>
    <input type="text" name="change_department_name"></p>
    {% if department_name %}
        <input type="hidden" name="department_name" value="{{department_name}}">
    {% endif %}
    <p><button type="submit">設定する</button></p>
    <p><button type="submit">キャンセルする</button></p>
</form>

</body>
</html>