<!DOCTYPE html>
<html lang="ja">
<head>
<title>部署情報一覧</title>
<style type="text/css">
    table, td, th {
        border: solid black 1px;
        height: 50px;
    }
    table {
        width: 500px;
    }
    img{
        width: 180px;
        height: 200px;
    }
</style>
</head>
<body>
<h1>部署情報一覧ページ</h1>
<p>部署一覧</p>
<table>
    <tr>
        <th>ID</th>
        <th>部署名</th>
        <th>編集</th>
        <th>削除</th>
    </tr>

    {% for item in department %}
    <tr>
        <td>{{ item.department_id }}</td>
        <td>{{ item.department_name }}</td>
        <td>
            <form method="post" action="/connect_add_edit_department">
                <input type="hidden" name="department_name" value="{{item.department_name}}">
                <!-- <input type="submit" value="編集"> -->
                <button type="submit">編集</button>
            </form>
        </td>
        <td>
            <form method="post" action="/delete_department">
                <input type="hidden" name="department_name" value="{{item.department_name}}">
                <button type="submit">削除</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<p><form method="post" action="/connect_add_edit_department">
    <button type="submit">新規追加</button>
</form></p>
<p><form method="post" action="/">
    <button type="submit">社員情報一覧に戻る</button>
</form></p>


</body>
</html>