<!DOCTYPE html>
<html lang="ja">
<head>
<title>社員情報追加・編集</title>
</head>
<body>
<h1>社員情報追加・編集ページ</h1>
<h1>社員データを修正します</h1>

<form method="post">
    <p><label for="">社員ID：</label>
    <input type="text"></p>

    <p><label for="">名前：</label>
    <input type="text"></p>

    <p><label for="">年齢：</label>
    <input type="text"></p>

    <p>性別：<input type="radio" name="" id="">男性
    <input type="radio" name="" id="">女性</p>

    <p><label for="">写真：</label>
    <input type="file" name="" id=""></p>

    <p><label for="">郵便番号：</label>
    <input type="text"></p>

    <p>都道府県：<select name="" id="">
        <option value="">東京都</option>
        <option value="">神奈川県</option>
        <option value="">埼玉県</option>
        <option value="">千葉県</option>
    </select></p>

    <p><label for="">住所：</label>
    <input type="text"></p>

    <p>所属：<select name="" id="">
        <option value="">総務部</option>
        <option value="">人事部</option>
        <option value="">営業部</option>
        <option value="">広報部</option>
    </select></p>

    <p><label for="">入社日：</label>
    <input type="text"></p>

    <p><label for="">退社日：</label>
    <input type="text"></p>

    <button type="submit">設定する</button>
    <button type="submit">キャンセルする</button>
</form>

</body>
</html>