<!DOCTYPE html>
<html lang="ja">
<head>
<title>社員情報検索</title>
</head>
<body>
<h1>社員情報検索ページ</h1>
<h1>条件を指定して社員情報を検索します。</h1>

<form method="post">
    <p>所属部署：<select name="" id="">
        <option value="">営業部</option>
        <option value="">広報部</option>
        <option value="">エンジニア</option>
        <option value="">マーケティング</option>
    </select></p>

    <p><label for="">社員ID：</label>
    <input type="text"></p>

    <p><label for="">名前に含む文字：</label>
    <input type="text"></p>

    <button type="subimit">検索</button>
</form>
</body>
</html>