<!DOCTYPE html>
<html lang="ja">
<head>
<title>社員情報検索</title>
</head>
<body>
<h1>社員情報検索ページ</h1>
<h1>条件を指定して社員情報を検索します。</h1>

<form method="post" action="/search_employee">
    <!-- <p>所属部署：<select name="" id="">
        <option value="">営業部</option>
        <option value="">広報部</option>
        <option value="">エンジニア</option>
        <option value="">マーケティング</option>
    </select></p> -->


    <p>所属部署：<select name="department_name" id="">
        <option value="" selected>選択してください</option>
        {% for item in department %}
        <option value="{{item.department_name}}">{{ item.department_name }}</option>
        {% endfor %}
    </select></p>

    <p><label for="">社員ID：</label>
    <input type="text" name="search_employee_id"></p>

    <p><label for="">名前に含む文字：</label>
    <input type="text" name="search_employee_name"></p>

    <button type="submit">検索</button>
</form>
</body>
</html>