<!DOCTYPE html>
<html lang="ja">
<head>
<title>社員情報一覧</title>
<style type="text/css">
    table, td, th {
        border: solid black 1px;
        height: 50px;
    }
    table {
        width: 500px;
    }
    img{
        width: 180px;
        height: 200px;
    }
</style>
</head>
<body>
<h1>社員情報一覧ページ</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<p>社員一覧</p>
<table>
    <tr>
        <th>社員ID</th>
        <!-- <th>写真</th> -->
        <th>名前</th>
        <th>年齢</th>
        <th>性別</th>
        <th>編集</th>
        <th>削除</th>
    </tr>

    {% for item in employees %}
    <tr>
        <td>{{ item.employee_id }}</td>
        <!-- <td><img src="{{item.employee_image}}" alt=""></td> -->
        <!-- <td><img src="{{ item.employee_image }}"></td> -->
        <td>{{ item.employee_name }}</td>
        <td>{{ item.employee_age }}</td>
        <td>{{ item.employee_gender }}</td>
        <td>
            <form method="post" action="/show_edit_employee">
                <input type="hidden" name="id" value="{{item.id}}">
                <!-- <input type="hidden" name="employee_id" value="{{item.employee_id}}"> -->
                <button type="submit">編集</button>
            </form>
        </td>
        <td>
            <form method="post" action="/delete_employee">
                <input type="hidden" name="id" value="{{item.id}}">
                <!-- <input type="hidden" name="employee_id" value="{{item.employee_id}}"> -->
                <button type="submit">削除</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<p><form method="post" action="/show_add_page">
<!-- <p><form method="post" action="/add"> -->
    <button type="submit">新規追加</button>
</form></p>
<p><form method="post" action="/search">
    <button type="submit">検索</button>
</form></p>
<p><form method="post" action="/department">
    <button type="submit">部署一覧</button>
</form></p>
<p><form method="post" action="/download">
    <button type="submit" name="output_csv">CSVファイルに出力</button>
</form></p>


</body>
</html>